<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286143991979-qh006h0actvbmfom40meo0dfcmlbm195.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286143991979-qh006h0actvbmfom40meo0dfcmlbm195</string>
	<key>API_KEY</key>
	<string>AIzaSyB02dJLfcqUHvvmzy6ucLoUmjAejqUwHyk</string>
	<key>GCM_SENDER_ID</key>
	<string>286143991979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.cricfantasy</string>
	<key>PROJECT_ID</key>
	<string>smash-it-ed91a</string>
	<key>STORAGE_BUCKET</key>
	<string>smash-it-ed91a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286143991979:ios:61440f9936e6634f82e7ee</string>
</dict>
</plist>